.contacto{
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin-top: 25px;
}

.comentarios{
    width: 450px;
    height: 200px;
}
.footer-card {
  background: #f0f4f8;
  padding: 30px 20px;
  border-top: 4px solid violet;
  margin-top: 50px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content {
  max-width: 800px;
}

.footer-content p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}